<div class ="page-header">
<h1> What task would you like to acheive? </h1>
</div>
<div class="row">
        <div class="col-md-4"></div>
        <strong> Create a Gardener </strong> <br/>
        <div class="col-md-4"></div>
        <strong> Create a Group </strong> <br/>
        <%= link_to new_group_path do %>
        <i class="glyphicon glyphicon-floppy-disk"> </i> <% end %>
        <div class="col-md-4"></div>
        <strong> Fill in a form </strong> <br/>
      </div>





