<h2> Please tell us what you have learnt from Soil For Life </h2>

	<%= f.label :msc_qualitative, "What is the most important thinh you have learnt?" %> <br>
		<%= f.text_field :msc_qualitative %> 
	<br/>
	<%= f.label :final_notes, "Do you have any other comment you would like to make about the training, the trainer, or what you have learnt?" %> <br>
		<%= f.text_field :final_notes %>