

<h3> We are currently having some technical issues with support visit forms, please complete the form on paper for the meantime, remembering to record the date, time and some notes on the garden. The form should be fixed by the end of the day, where you can go back and add the form in later. Thanks for your understanding</h3>

